<ion-header>
  <ion-toolbar>
    <ion-title
    slot="start">
      TP: TMDB
    </ion-title>
    <ion-buttons
    slot="end">
      <ion-button
        type="button"
        >
        RANDOM
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>Les Films du jour</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let film of films">
      <ion-label>{{film.title | uppercase}}</ion-label>
      <ion-button
      type="button"
      (click)="log(film)">
        Consulter
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
